.cta-promo-module {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #fff;
  padding: 40px 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 40px;
  position: relative;

  &::before {
    content: "";
    background-image: url("/images/enterprise/logo-gitlab.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    background-size: 175px 175px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.12;
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 700;
  }

  p {
    margin-bottom: 15px;
  }

  .cta-promo-content {
    position: relative;
    z-index: 5;
  }
}
